<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="main-container">
    <header class="admin-header">
      <a href="/admin/">Каталог</a>
      <a href="/admin/adding">Добавить мебель</a>
      <a href="/admin/orders">Заказы</a>
      <a href="/users/logout">Выйти из аккаунта</a>
    </header>


    <div class="option-buttons-container">
        <div class="option-button-container">
            <div class="option-button" onclick="filterByCategory('all')">Все категории</div>
        </div>
        <div class="option-button-container">
            <div class="option-button" onclick="filterByCategory('Кухня')">Кухня</div>
        </div>
        <div class="option-button-container">
            <div class="option-button" onclick="filterByCategory('Спальня')">Спальня</div>
        </div>
        <div class="option-button-container">
            <div class="option-button" onclick="filterByCategory('Ванная')">Ванная</div>
        </div>
        <div class="option-button-container">
            <div class="option-button" onclick="filterByCategory('Гостинная')">Гостинная</div>
        </div>
        <div class="option-button-container">
            <div class="option-button" onclick="filterByCategory('Туалет')">Туалет</div>
        </div>
        <div class="option-button-container">
            <div class="option-button" onclick="filterByCategory('Офис')">Офис</div>
        </div>
        <div class="option-button-container">
            <div class="option-button" onclick="filterByCategory('Прихожая')">Прихожая</div>
        </div>
    </div>

    <div class="catalog-container">
        <h1 id="category-name">Все категории</h1>

        <div class="cards-container">
          <% furniture.forEach(function(item) { %>
            <div class="card-container" data-category="<%= item.type %>" id="<%= item._id %>">
                <div class="card">
                    <div class="card-content-container" onclick="cardModal('<%= item.title %>', '<%= item.description %>')">
                        <img src="/uploads/<%= item.photoLink %>" alt="<%= item.title %>">
                        <p class="card-title"><%= item.title %></p>
                        <p class="card-price"><%= item.price %></p>
                    </div>
                    <button onclick="deleteFurniture('<%= item._id %>')" id="<%= item._id %>">Удалить товар</button>
                </div>
            </div>
          <% }); %>
        </div>

        <div id="myModal" class="modal">
          <div class="modal-content">
            <h1 id="modal-title">Классный диван</h1>
            <p id="modal-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
          </div>
        </div>
    </div>

  </div>

  <script src="/javascripts/admin-catalog.js"></script>
</body>
</html>