<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="main-container">
    <header>
      <% if (!user) { %>
      <a href="/" class="logo">KoduMööbel</a>
      <div class="header-links-right">
        <a href="/registration">Регистрация</a>
        <a href="/login"><div class="header-button">Войти</div></a>
      </div>
      <% } else { %>
        <a href="/catalog" class="logo">KoduMööbel</a>
        <div class="header-links-right">
        <a href="/basket"><img src="/images/basket.png" alt=""></a>
        <a href="/profile"><div class="header-button">Профиль</div></a>
      </div>
      <% } %>
    </header>


    <div class="option-buttons-container">
        <div class="option-button-container">
            <div class="option-button" onclick="filterByCategory('all')">Все категории</div>
        </div>
        <div class="option-button-container">
            <div class="option-button" onclick="filterByCategory('Кухня')">Кухня</div>
        </div>
        <div class="option-button-container">
            <div class="option-button" onclick="filterByCategory('Спальня')">Спальня</div>
        </div>
        <div class="option-button-container">
            <div class="option-button" onclick="filterByCategory('Ванная')">Ванная</div>
        </div>
        <div class="option-button-container">
            <div class="option-button" onclick="filterByCategory('Гостинная')">Гостинная</div>
        </div>
        <div class="option-button-container">
            <div class="option-button" onclick="filterByCategory('Туалет')">Туалет</div>
        </div>
        <div class="option-button-container">
            <div class="option-button" onclick="filterByCategory('Офис')">Офис</div>
        </div>
        <div class="option-button-container">
            <div class="option-button" onclick="filterByCategory('Прихожая')">Прихожая</div>
        </div>
    </div>

    <div class="catalog-container">
        <h1 id="category-name">Все категории</h1>

        <div class="cards-container">
          <% furniture.forEach(function(item) { %>
            <div class="card-container" data-category="<%= item.type %>">
                <div class="card">
                    <div class="card-content-container" onclick="cardModal('<%= item.title %>', '<%= item.description %>')">
                        <img src="/uploads/<%= item.photoLink %>" alt="<%= item.title %>">
                        <p class="card-title"><%= item.title %></p>
                        <p class="card-price"><%= item.price %></p>
                    </div>
                    <% if (user) { %>
                    <% const itemIdString = String(item._id); %>
                    <% if (user.basket.includes(itemIdString)) { %>
                      <button onclick="removeFromBasket('<%= item._id %>')" id="<%= item._id %>">В корзине</button>
                    <% } else { %>
                      <button onclick="toBasket('<%= item._id %>')" id="<%= item._id %>">Добавить в корзину</button>
                    <% } %>
                    <% } else { %>
                      <button onclick="toBasket('<%= item._id %>')" id="<%= item._id %>">Добавить в корзину</button>
                      <% } %>
                </div>
            </div>
          <% }); %>
        </div>

        <div id="myModal" class="modal">
          <div class="modal-content">
            <h1 id="modal-title">Классный диван</h1>
            <p id="modal-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
          </div>
        </div>
    </div>

  </div>

  <script src="/javascripts/catalog.js"></script>
</body>
</html>